@CHARSET "ISO-8859-1";


.modal-header, h4, .close {
/* 	background-color:  #00c3c1; */
	color: white !important;
	text-align: center;
	font-size: 30px;
	border-bottom: 0px solid #e5e5e5;
}

.modal-footer {
/* 	background-color: #f9f9f9; */
border-top: 0px solid #e5e5e5;
}