<div class="container">
	<div class="row" style="padding-top: 75px;">
		<div class="col-sm-8">
			<a ui-sref="javascript"><div class="imgText language-item">
			  <span><img src="images/js.png" /></span>
			  <span><h2>JavaScript</h2></span>
			</div></a>
			<div class="seperate-div-home"></div>
			<a ui-sref="java"><div class="imgText language-item">
			  <span><img src="images/java2.png" /></span>
			  <span><h2 class="textAlign">Java</h2></span>
			</div></a>
			<div class="seperate-div-home"></div>
			<a ui-sref="python"><div class="imgText language-item">
			  <span><img src="images/python.jpg" /></span>
			  <span><h2 class="textAlignP">Python</h2></span>
			</div></a>
			<div class="seperate-div-home"></div>
			<a ui-sref="php"><div class="imgText language-item">
			  <span><img src="images/php.png" /></span>
			  <span><h2 class="textAlign">Php</h2></span>
			</div></a>
			<div class="seperate-div-home"></div>
			<a ui-sref="ruby"><div class="imgText language-item">
			  <span><img src="images/ruby.png" /></span>
			  <span><h2 class="text-ruby">Ruby</h2></span>
			</div></a>
		</div>
		<div class="col-sm-4 repo-count language-item div-border-height">
			  <span><h4>Languages</h4></span>
			  <div class="seperateDiv"></div>
			  <div class="row">
				<div class="col-sm-2 div-padding-l">Python</div>
				<div class="col-sm-2 div-padding-left">9,894</div>
			  </div>
			  <div class="row">
				<div class="col-sm-2 div-padding-l">Java</div>
				<div class="col-sm-2 div-padding-left">9,761</div>
			  </div>
			  <div class="row">
				<div class="col-sm-2 div-padding-l">JavaScript</div>
				<div class="col-sm-2 div-padding-left">8,390</div>
			  </div>
			  <div class="row">
				<div class="col-sm-2 div-padding-l">C</div>
				<div class="col-sm-2 div-padding-left">7,571</div>
			  </div>
			  <div class="row">
				<div class="col-sm-2 div-padding-l">C++</div>
				<div class="col-sm-2 div-padding-left">5,563</div>
			  </div><div class="row">
				<div class="col-sm-2 div-padding-l">Ruby</div>
				<div class="col-sm-2 div-padding-left">3,552</div>
			  </div>
			  <div class="row">
				<div class="col-sm-2 div-padding-l">Go</div>
				<div class="col-sm-2 div-padding-left">3,534</div>
			  </div>
			  <div class="row">
				<div class="col-sm-2 div-padding-l">PHP</div>
				<div class="col-sm-2 div-padding-left">3428</div>
			  </div>
			  <div class="row">
				<div class="col-sm-2 div-padding-l">HTML</div>
				<div class="col-sm-2 div-padding-left">2,978</div>
			  </div>
			  <div class="row">
				<div class="col-sm-2 div-padding-l">C#</div>
				<div class="col-sm-2 div-padding-left">2,868</div>
			  </div>
			</div>
	</div>
</div>